<ol>
  <% @cart.line_items.each do |line_item|%>
    <li>
      Name: <%= link_to line_item.purchasable_name, line_item.purchasable%>
    Type: <%= line_item.listing.name %>
 Quantity: <%= line_item.quantity %>
    <%= link_to "Remove", cart_path(line_item: line_item.id), method: :delete%>
  </li>
<% end %>
</ol>

<div>
  Total: $<%= @cart.total %>
</div>

<br />
<div>
  <% if @cart.line_items.present?  %>
    <%= link_to "Checkout", checkout_path %>
  <% end %>
</div>
