<%= form_for @cosmetic, url: url  do |f|%>
  <span class="help-inline">Name</span>
  <%= f.text_field :name, placeholder: "Please enter the name of cosmetic"%><br/>

  <span class="help-inline">Description</span>
    <%= f.cktext_area :description, placeholder: "Please enter the description of cosmetic", :ckeditor => {:language => "en"} %>

   <%= f.fields_for :listings do | builder| %>
    <%= render "listing_fields" , f: builder%>
  <% end %>

  <%= link_to_add_fields "add type", f, :listings %> <br />

  <%= f.submit "commit", class:"btn btn-lg btn-primary"%>
<% end %>
</script>
