<div class="fields">
  <%= f.label :type, "Option Type"%>
  <%= f.text_field :name, value: "", disabled: true%>
  <%= f.label :price, "price"%>
  <%= f.text_field :price%>
  <%= f.label :stock, "stock"%>
  <%= f.text_field :stock%>
  <%= link_to_remove_fields "Remove", f %>
</div>
