<ol>
  <% @cart.line_items.each do |line_item | %>
    <% if line_item.listing && line_item.can_purchase? %>
    <li> 
      name: <%= line_item.purchasable_name %>
      type: <%= line_item.listing.types %>
      Quantity: <%= line_item.quantity %>
    </li>
    <% end %>
  <% end %>
</ol>

  Total: $<%= @cart.total %>

<br />
<%= form_for Order.new do |f| %>
  <%= f.text_field :name, placeholder: "Enter your name", required: true%> <br/>
  <%= f.text_area :address, placeholder: "Enter your address", size: "40x10", required: true%> <br/>
  <%= f.submit "Pay", disable_with: "Submiting..."%>
<% end %>
