<h2><%= @cosmetic.name %></h2>
<%  @cosmetic.listings.each do |listing|%>
  <% if listing.can_purchase? %>
    <h4>TYPE: <%= listing.types  %></h4>
    <%= link_to "add to cart", cart_path(listing: listing.id), method: :create%>
    <h2><%= listing.price %></h2>
  <% end %>
<% end %>

<%= @cosmetic.description.html_safe %>
